[submodule "java/external/websocket-client"]
	path = java/external/websocket-client
	url = git://github.com/wsky/websocket-client.git
[submodule "java/external/top-push"]
	path = java/external/top-push
	url = git://github.com/wsky/top-push.git
[submodule "csharp/external/nmqtt"]
	path = csharp/external/nmqtt
	url = git://github.com/wsky/nmqtt.git
[submodule "csharp/external/websocket-sharp"]
	path = csharp/external/websocket-sharp
	url = git://github.com/wsky/websocket-sharp.git
